@tailwind base;
@layer base {
  @import url("https://p.typekit.net/p.css?s=1&k=tri7gwo&ht=tk&f=139.140.173.174.175.176.10881.10882.10884.10885&a=21288430&app=typekit&e=css");


  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2555e1/00000000000000007735e603/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/4de20a/00000000000000007735e604/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/78aca8/00000000000000007735e60d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/144da4/00000000000000007735e619/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:600;font-stretch:normal;
  }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/efe4a5/00000000000000007735e609/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
      }

  @font-face {
      font-family:"proxima-nova";
      src:url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/3322cc/00000000000000007735e616/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/309dfe/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/eb729a/000000000000000000010092/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
      font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

  @font-face {
      font-family:"futura-pt";
      src:url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/cf3e4e/000000000000000000010095/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
      font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
  }

  @font-face {
    font-family:"Terminal Grotesque Open";
    src:url("//db.onlinewebfonts.com/t/4f391cff783d1bed452c22caaa21a73b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4f391cff783d1bed452c22caaa21a73b.woff") format("woff"),url("//db.onlinewebfonts.com/t/4f391cff783d1bed452c22caaa21a73b.eot?#iefix") format("embedded-opentype");
    font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

  @font-face {
    font-family: 'terminal_grotesque';
    src: url('../font/term_gro/terminal-grotesque-webfont.eot') format('embedded-opentype'),
         url('../font/term_gro/terminal-grotesque-webfont.woff2') format('woff2'),
         url('../font/term_gro/terminal-grotesque-webfont.woff') format('woff'),
         url('../font/term_gro/terminal-grotesque-webfont.ttf') format('truetype'),
         url('../font/term_gro/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

  @font-face {font-family: "Karmatic Arcade";
      src:url("//db.onlinewebfonts.com/t/466b3a22453e8a0e656f0901c45d2bc0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/466b3a22453e8a0e656f0901c45d2bc0.woff") format("woff"), url("//db.onlinewebfonts.com/t/466b3a22453e8a0e656f0901c45d2bc0.eot?#iefix") format("embedded-opentype");
      font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
  }

  .tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
  .tk-futura-pt { font-family: "futura-pt",sans-serif; }
  .tk-terminal-groteque { font-family: "terminal_grotesque", sans-serif; }
  .tk-karmatic-arcade { font-family: "Karmatic Arcade", sans-serif; }

  h1 {
    @apply font-bold text-3xl text-green mb-5;
    font-family: terminal_grotesque, sans-serif;
  }


  h2 {
    @apply font-bold text-2xl text-green mb-1.5;
    font-family: terminal_grotesque, sans-serif;
  }

  h3 {
    @apply font-normal text-xl text-green mb-1.5;
    font-family: terminal_grotesque, sans-serif;
  }

  h4 {
    @apply font-normal text-green;
    font-family: terminal_grotesque, sans-serif;
  }

  p {
    @apply font-normal text-green mb-2;
    font-family: terminal_grotesque, sans-serif;
    font-size: 1.0em;
  }

  a {
    text-decoration: underline;
    font-weight: normal;
  }

  ul {
    @apply font-normal text-green;
    font-family: terminal_grotesque, sans-serif;
    font-size: 1.3em;
    list-style-type: circle;
    padding: 10px
  }

  ol {
    @apply font-normal text-green;
    font-family: terminal_grotesque, sans-serif;
    font-size: 1.3em;
    padding: 10px
  }

  main {
    @apply bg-black;
  }
}

@tailwind components;
@layer components {
  .heading {
    @apply text-center;
  }

  .image-row{
    @apply relative mb-20 mt-20;
  }

  .apply-content{
    @apply top-[23%] left-[50%] absolute w-[20%];
    z-index: 1;
  }

  #apply-bg{
    @apply relative w-[100%];
  }

  .heading h1{
    @apply md:px-[5%] my-[-10px] lg:px-[4%] text-[#451DB9] text-[3.50em] leading-[1em] md:w-[11em] md:min-w-[10em] lg:max-w-[10em];
  }

  .heading h2{
    @apply px-[2.25rem] my-[-10px] text-[#00639A] text-[2rem] leading-[2.4rem] md:w-[22.5em] lg:w-[30em] max-w-[30em];
  }

  .header-box {
    @apply border-[15px] bg-[#BEA8FF] border-[#9773FF] w-[100%];
  }

  .desc-box{
    @apply relative border-[15px] bg-[#C1ECFF] h-auto w-[100%] border-[#00B7FF];
  }

  .row{
    @apply flex justify-center;
  }

  .box{
    @apply lg:w-[100%] md:w-[40%] sm:w-[20%];
  }

  .dots{
    @apply flex justify-between;
  }

  .dot{
    @apply h-[19px] w-[19px] m-[10px] rounded-full;
  }

  .heading button {
    @apply mt-4 bg-green text-sand px-6 py-2 rounded-full hover:bg-emerald;
  }

  .landing {
    @apply flex flex-col justify-center items-center;
  }

  .landing-background {
    @apply flex w-[100%] h-[100%] md:h-[100%];
  }

  .landing-image {
    @apply w-full sm:w-5/6 md:max-h-[100%] text-center z-0;
  }

  .landing-image h2 {
    @apply md:hidden text-sm relative bottom-6 font-bold;
  }

  .landing-countdown {
    @apply flex flex-row sm:space-x-3 space-x-2 z-[2] mt-[-25vw] w-[42%];
    justify-content: space-between;
  }

  .landing-countdown-square {
    @apply w-[25vw] h-[22vw] sm:w-[14.7vw] sm:h-[14vw];
    @apply md:w-[9.975vw] md:h-[9.5vw] md:min-w-[5.25rem] md:min-h-[5rem];
    @apply lg:max-h-[8vw] lg:max-w-[8vw] lg:mb-[15vw];
    @apply flex flex-col items-center justify-center;
  }

  .landing-chevron {
    @apply text-emerald w-[1.5rem] h-[1.5rem] mt-4 lg:-mt-[20rem] lg:mb-[20rem] z-10;
    -webkit-animation : bounce 1.5s infinite;
    -moz-animation    : bounce 1.5s infinite;
    -o-animation      : bounce 1.5s infinite;
    animation         : bounce 1.5s infinite;
  }

  .landing-ctdn-amt {
    @apply font-bold text-[7vw] text-brightyellow lg:mb-5 md:mb-4;
    font-family: terminal_grotesque, sans-serif;
  }

  .landing-ctdn-unit {
    @apply text-[2vw] text-peach mb-5;
    font-family: terminal_grotesque, sans-serif;
    margin-top: -50%;
  }

  .logistics-content {
    @apply relative text-navy px-[10%] md:px-[15%] lg:px-[25%] pt-12;
    margin-bottom: -0.5rem;
  }

  .logistics-anchor {
    @apply relative top-[-200px] invisible;
  }

  .logistics-body {
    @apply relative;
    @apply bg-brightblue rounded-lg w-[80%] md:w-[40rem] px-14 py-10;
  }

  .logistics-icons {
    @apply flex flex-row space-x-4 pt-4;
  }

  .logistics-icon-square {
    @apply flex flex-col items-center justify-center;
    @apply bg-brightblue bg-opacity-10 w-[11.5vw] h-[11vw] min-w-[7rem] min-h-[7rem] rounded-lg;
    @apply font-semibold text-navy tracking-wide;
    font-family: proxima-nova, sans-serif;
  }

  .logistics-icon-square-container {
    @apply h-[45%] flex items-center justify-center;
  }

  .schedule {
    @apply absolute bg-linen w-full flex flex-col justify-center sm:mt-16 mt-20;
    padding: 2%;
  }

  .about-section {
    @apply px-[10%] md:px-[15%] lg:px-[25%];
  }

  #about-title{
    @apply mx-auto w-[30%];
  }

  .about-paragraph h2{
    @apply text-4xl text-center m-auto text-[#10104A];
  }

  .about-paragraph p{
    @apply text-lg leading-8 text-[#10104A];
  }

  .about-paragraph{
    @apply text-left mt-10 mb-10 px-8 py-6 h-auto rounded-[1rem];
  }

  .about-header{
    @apply rounded-[1rem] py-4 px-2 w-[100%] mb-5 text-[#FFD3C9] left-[25%];
  }

  #about-paragraph-college-hackathon{
    @apply bg-[#FFF2AB]
  }

  #about-header-college-hackathon{
    @apply bg-[#FFD073]
  }

  #about-paragraph-pennapps-difference{
    @apply bg-[#FFD3C9]
  }

  #about-header-pennapps-difference{
      @apply bg-[#F9A084]
  }

  #about-paragraph-campus-ambassadors{
    @apply bg-[#FFADCC]
  }

  #about-header-campus-ambassadors{
      @apply bg-[#FF7AAD]
  }

  nav {
    @apply text-green bg-periwinkle px-9 w-full h-20 flex flex-row justify-between items-center top-0 sticky z-10;
    font-family: terminal_grotesque, sans-serif;
  }

  nav a {
    @apply no-underline hover:underline;
  }

  .nav-pennapps {
    @apply font-bold text-xl;
    font-family: futura-pt, sans-serif;
  }

  .navlinks-banner {
    @apply flex h-full flex-row items-center min-w-[50%] justify-end pl-0;
  }

  .navlinks-logo {
    @apply h-8;
  }

  #mlh-trust-badge {
    @apply md:px-[8%] lg:px-[4%] pt-20 shrink-0;
  }

  #mlh-trust-badge img {
    @apply h-40 w-full;
  }

  .links {
    @apply flex flex-row space-x-5 md:space-x-3;
  }

  .links button {
    @apply mt-1 bg-brightyellow text-xl text-periwinkle px-5 py-2 rounded-full hover:bg-yellow font-bold;
  }

  .mobile-nav {
    @apply sm:hidden absolute bg-brightyellow top-20 right-0 flex flex-col;
    @apply overflow-hidden transition-all ease-in-out duration-500;
  }

  .mobile-nav a {
    @apply py-4 px-16 border-b border-x border-gray-200 text-center;
    @apply hover:bg-honeydew hover:no-underline;
    @apply first:border-t;
  }


  .section {
    @apply px-[12%] md:px-[20%] lg:px-[27.5%] pt-12;
    margin-bottom: -0.5rem;
  }

  #punch-holes {
    background:
      radial-gradient(circle at top left, transparent calc(2vh + 5vw), #00B7FF 0) top left,
      radial-gradient(circle at top right, transparent calc(2vh + 5vw), #00B7FF 0) top right,
      radial-gradient(circle at top center, transparent calc(2vh + 5vw), #00B7FF 0) top center,
      radial-gradient(circle at bottom right, transparent calc(2vh + 5vw), #00B7FF 0) bottom right,
      radial-gradient(circle at bottom center, transparent calc(2vh + 5vw), #00B7FF 0) bottom center,
      radial-gradient(circle at bottom left, transparent calc(2vh + 5vw), #00B7FF 0) bottom left;
    background-size: 34% 50%;
    background-repeat: no-repeat;
  }

  .apply-box {
    @apply lg:px-[2rem] py-[8rem] px-[2rem];
  }

  .apply-border{
    @apply bg-[#10104A] rounded-[4em] px-[1rem] py-[1em];
  }

  .apply-header{
    @apply bg-pacificblue text-center px-2 py-1 rounded-t-[3.175em];
  }
  .apply-header h1{
    @apply leading-[3rem] text-[#10104A] mt-4;
  }

  .apply-text{
    @apply bg-pacificblue rounded-b-[3.175em] mt-4 px-6 pt-5 pb-[0.05em];
  }

  .apply-text p{
    @apply text-[#10104A] mb-10;
    font-size: 20px;
  }

  .anchor {
    @apply relative top-[-100px] invisible;
  }

  #faq-title{
    @apply mx-auto py-8 w-[11%];
  }

  .faq-section {
    @apply pt-12;
    margin-bottom: -0.5rem;
  }

  .faq-content{
    @apply lg:px-[6%] mb-12;
  }

  .faq-lside{
    @apply w-screen top-0;
    background-image: url('../images/FAQBGLeft.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    height: 1000px;
  }
  .faq-rside{
    @apply w-screen top-0;
    background-image: url('../images/FAQBGRight.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    height: 1000px;
  }

  .faq-collapsible {
    @apply bg-darkpurple py-1 px-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.375em;
    padding-bottom: 0;
    border-radius: 7px;
  }

  .faq-question {
    @apply py-1 px-3;
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
  }

  .faq-answer {
    @apply px-5 pb-0.5;
    @apply [&>p]:text-pastelpurple;
  }

  .faq-title {
    @apply text-pinkpurple;
    text-align: center;
  }

  .sponsor-logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  #meta {
    width: 30%
  }

  .footer {
    position: relative;
    margin-top: 5%;
  }

  .footer-content {
    position: absolute;
    bottom: 8%;
    left: 5%;
    width: 90%;
  }

  .footer-content-layout {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1000px) {
    .footer-content {
      font-size: 0.75em;
    }
  }

  .footer-img {
    width: 100vw;
  }

  .footer-content a {
    @apply text-sand;
    font-weight: 500;
    text-decoration: none;
  }

  .footer-content a:hover {
    text-decoration: underline;
  }

  .footer-content p {
    @apply text-sand;
  }

  .footer-content h1 {
    @apply text-sand;
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
  }

  @media screen and (max-width: 1000px) {
    .footer-content h1 {
      font-size: 35px;
      line-height: 30px;
    }
  }

  .footer-social-media {
    display: flex;
    align-items: center;
  }

  .footer-social-media-text {
    margin-left: 10px;
  }

  .footer-penn-logo {
    margin-left: -5px;
  }

  @media screen and (max-width: 1000px) {
    .footer-penn-logo {
      width: 175px;
    }
  }

  @media screen and (max-width: 785px) {
    .footer-mobile {
      display: block;
    }
    .footer {
      display: none;
    }
    .footer-content h1 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 10px;
    }
    .footer-content a {
      font-weight: 400;
    }
    .footer-penn-logo {
      width: 100px;
    }
  }

  .footer-mobile {
    position: relative;
    margin-top: 5%;
  }

  .footer-social-media-mobile {
    display: flex;
    justify-content: space-between;
  }

  .footer-img-mobile {
    width: 100vw;
    display: none;
  }

  @media screen and (max-width: 640px) {
    .footer-img {
      display: none;
    }
    .footer-img-mobile {
      display: block;
    }
  }

  @media screen and (max-width: 540px) {
    .footer-content {
      bottom: 7%;
    }
    .footer-content h1 {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 7px;
    }
    .footer-content {
      font-size: 0.6rem;
    }
  }
}

@tailwind utilities;